<template>
  <v-dialog persistent v-model="dialog" max-width="500px">
    <!--<v-card>-->
    <v-card dark>
      <v-card-title class="headline justify-center">
        Eliminar Permiso</v-card-title
      >
      <v-card-text class="text-center"
        >¿Desea eliminar el permiso <strong>{{ item.name }}</strong
        >?</v-card-text
      >
      <v-card-actions class="justify-center">
        <v-btn
          color="error"
          @click="deleteItem"
          :loading="loading"
          :disabled="loading"
        >
          Si
        </v-btn>
        <v-btn
          color="primary"
          @click="close"
          :loading="loading"
          :disabled="loading"
        >
          No
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  props: ["item", "dialog"],
  data: () => ({
    loading: false,
  }),
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Cerrar dialog
     * cerrar el dialog
     * @emit close - permite cerrar el dialog
    */
    close() {
      this.$emit("close");
    },
    /**
     * Eliminar permiso
     * 
     * @emit deleted - permite generar el evento para eliminar elemento de la lista principal
    */
    deleteItem() {
      this.loading = true;
      axios
        .delete(`/permission/${this.item.id}`, this.item)
        .then((response) => {
          if (response.status === 200) {
            this.loading = false;
            this.close();
            this.$emit("deleted", response.data);
            this.showAlert({
              color: "success",
              text: this.item.name + " " + response.data.message,
            });
          }
        })
        .catch((error) => {
          this.loading = false;
        });
    },
  },
};
</script>