<template>
  <v-dialog persistent v-model="dialog" max-width="500px">
    <v-card>
      <v-toolbar color="indigo" dark>
        <v-toolbar-title v-text="title"></v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn @click="close" icon>
          <v-icon>mdi-window-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <br />
        <validation-observer ref="observer">
          <form @submit.prevent="save">
            <validation-provider
              v-slot="{ errors }"
              name="Nombre"
              rules="required|max:30"
            >
              <v-text-field
                v-model="item.name"
                :error-messages="errors"
                :counter="30"
                label="Nombre de Permiso"
                prepend-icon="mdi-shield-account"
              ></v-text-field>
            </validation-provider>
            <validation-provider
              v-slot="{ errors }"
              name="Módulo"
              rules="required|max:30"
            >
              <v-combobox
                class="separate"
                :error-messages="errors"
                v-model="slug.module"
                prepend-icon="mdi-shield-account"
                :items="tables"
                label="Módulo"
                dense
              ></v-combobox>
            </validation-provider>
            <validation-provider
              v-slot="{ errors }"
              name="Acción"
              rules="required|max:30"
            >
              <v-combobox
                :error-messages="errors"
                v-model="slug.action"
                prepend-icon="mdi-shield-account"
                :items="actions"
                label="Acción"
                dense
              ></v-combobox>
            </validation-provider>

            <validation-provider
              v-slot="{ errors }"
              name="Descripción"
              rules="required|max:255"
            >
              <v-textarea
                v-model="item.description"
                :error-messages="errors"
                label="Descripción"
                prepend-icon="mdi-shield-account"
                :counter="255"
              ></v-textarea>
            </validation-provider>

            <div class="text-center">
              <v-btn
                depressed
                color="success"
                :loading="loading"
                :disabled="loading"
                type="submit"
                >Guardar
              </v-btn>
            </div>
          </form>
        </validation-observer>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  props: ["title", "item", "dialog"],
  data: () => ({
    loading: false,
    tables: [],
    actions: ["list", "create", "update", "show", "delete"],
  }),
  computed: {
    slug() {
      if (this.item.slug) {
        let s = this.item.slug.split(".");
        return {
          module: s[0],
          action: s[1],
        };
      }
      return {};
    },
  },
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Cerrar dialog
     * 
     * @emit close - para cerrar el dialog
     *       edited - para cargar la informacion del permiso seleccionado en la lista principal
    */
    close() {
      this.$emit("close");
      if (this.item.id) {
        this.$emit("edited", this.item);
      }
      this.$refs.observer.reset();
    },
    /**
     * Guardar Permiso
     * Permite guardar el permiso ya sea seleccionado o uno nuevo
     * 
     * @emit added - para agregar el periso creado en la lista principal
    */
    save() {
      this.$refs.observer.validate().then((success) => {
        if (!success) {
          return;
        }
        this.loading = true;
        this.item.slug = this.slug.module + "." + this.slug.action;
        if (this.item.id) {
          axios
            .put(`/permission/${this.item.id}`, this.item)
            .then((response) => {
              if (response.status === 200) {
                this.loading = false;
                this.close();
                this.showAlert({
                  color: "success",
                  text: response.data.message,
                });
              }
            })
            .catch((error) => {
              this.loading = false;
              if (error.response.data.errors) {
                this.setErrors(error.response.data.errors);
              }
            });
        } else {
          axios
            .post("/permission", this.item)
            .then((response) => {
              if (response.status === 200) {
                this.$emit("added", response.data);
                this.loading = false;
                this.close();
              }
            })
            .catch((error) => {
              this.loading = false;
              if (error.response.data.errors) {
                this.setErrors(error.response.data.errors);
              }
            });
        }
      });
    },
    /**
     * Obtener lista de tablas
    */
    getTables() {
      axios.get("/tables").then((response) => {
        this.tables = response.data;
      });
    },
    /**
     * Asignar errores al validator
     * 
     * @param {object} error - errores obtenidos desde el servidor
    */
    setErrors(error) {
      this.$refs.observer.setErrors({
        Nombre: error.name,
        Descripción: error.description,
        Módulo: error.slug,
      });
    },
  },
  mounted() {
    this.getTables();
  },
};
</script>
<style scoped>
.separate {
  padding-bottom: 1rem;
  padding-top: 0.8rem;
}
</style>