<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">Seguridad</h1>
      <h3 class="title-page black--text">Usuarios</h3>
      <hr />
      <v-row>
        <v-flex fluid outlined xs12 sm6 md8>
          <v-tooltip top v-if="can(security.usersCreate)">
            <template v-slot:activator="{ on, attrs }">
              <br />
              <v-btn text v-bind="attrs" v-on="on" @click="open" color="gray">
                <v-icon left>mdi-plus-box</v-icon>
                <span>Nuevo</span>
              </v-btn>
            </template>
            <span>Agregar Usuario</span>
          </v-tooltip>
        </v-flex>
        <v-flex fluid outlined xs12 sm6 md4>
          <v-text-field
            label="Buscar..."
            hide-details
            prepend-icon="mdi-magnify"
            color="black"
            v-model="search"
            @keyup.enter="listAll"
          >
          </v-text-field>
          <div v-show="false">
            <input
              type="file"
              ref="picture"
              accept="image/png, image/jpeg, image/bmp"
              label="Avatar"
              @change="uploadPicture"
            /><input />
          </div>
        </v-flex>
      </v-row>
      <paginate
        ref="paginator"
        name="items"
        :list="filteredList"
        :per="$perPage"
      >
        <v-container class="my-5">
          <v-card class="mx-auto">
            <v-container>
              <v-row dense>
                <v-col
                  v-for="item in paginated('items')"
                  :key="item.id"
                  cols="12"
                >
                  <v-card>
                    <div class="d-flex flex-no-wrap justify-space-between">
                      <div>
                        <div class="d-flex d-sm-none justify-center">
                          <v-avatar class="ma-3" size="100" tile>
                            <v-img :src="item.picture"></v-img>
                          </v-avatar>
                        </div>
                        <v-card-title
                          class="headline"
                          v-text="item.login"
                        ></v-card-title>
                        <v-card-subtitle
                          v-text="'aqui va el rol'"
                        ></v-card-subtitle>
                        <v-card-text>
                          <div class="font-weight-normal">
                            <strong>Apellidos:</strong> {{ item.lastName }}
                          </div>
                          <div class="font-weight-normal">
                            <strong>Nombres:</strong> {{ item.firstName }}
                          </div>
                          <div class="font-weight-normal">
                            <strong>DNI:</strong> {{ item.dni }}
                          </div>
                          <div class="font-weight-normal">
                            <strong>Fecha de Nacimiento:</strong>
                            {{ item.birthday | date }}
                          </div>
                          <div class="font-weight-normal">
                            <strong>Sexo:</strong> {{ item.gender }}
                          </div>
                          <div class="font-weight-normal">
                            <strong>Dirección:</strong> {{ item.address }}
                          </div>
                          <div class="font-weight-normal">
                            <strong>Telefono:</strong> {{ item.phone }}
                          </div>
                          <div class="font-weight-normal">
                            <strong>E-mail:</strong> {{ item.email }}
                          </div>
                        </v-card-text>
                        <div class="d-flex d-sm-none justify-center">
                          <v-avatar class="ma-3" size="120" tile>
                            <v-img :src="item.qrcode"></v-img>
                          </v-avatar>
                        </div>
                        <v-card-actions>
                          <v-btn
                            v-if="can(security.usersRole)"
                            color="orange"
                            class="ml-2 mt-5 white--text"
                            rounded
                            small
                            @click="saveRoles(item)"
                          >
                            Roles
                          </v-btn>
                          <v-tooltip top v-if="can(security.usersUpdate)">
                            <template v-slot:activator="{ on, attrs }">
                              <v-btn
                                class="ml-2 mt-3"
                                v-bind="attrs"
                                v-on="on"
                                fab
                                icon
                                height="40px"
                                right
                                width="40px"
                                @click="showItem(item)"
                              >
                                <v-icon>mdi-pencil-box-multiple</v-icon>
                              </v-btn>
                            </template>
                            <span>Editar Usuario: {{ item.login }}</span>
                          </v-tooltip>
                          <v-tooltip top v-if="can(security.usersDelete)">
                            <template v-slot:activator="{ on, attrs }">
                              <v-btn
                                class="ml-2 mt-3"
                                v-bind="attrs"
                                v-on="on"
                                fab
                                icon
                                height="40px"
                                right
                                width="40px"
                                @click="deleteItem(item)"
                              >
                                <v-icon>mdi-trash-can</v-icon>
                              </v-btn>
                            </template>
                            <span>Eliminar Usuario: {{ item.login }}</span>
                          </v-tooltip>
                        </v-card-actions>
                      </div>

                      <div class="align-self-center">
                        <v-avatar class="d-none d-sm-flex ma-3" size="125" tile>
                          <v-img :src="item.picture">
                            <v-tooltip top v-if="can(security.usersPicture)">
                              <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                  v-bind="attrs"
                                  v-on="on"
                                  icon
                                  color="black"
                                  @click="editPicture(item)"
                                >
                                  <v-icon>mdi-pencil</v-icon>
                                </v-btn>
                              </template>
                              <span>Editar Foto</span>
                            </v-tooltip>
                          </v-img>
                        </v-avatar>

                        <v-avatar class="d-none d-sm-flex ma-3" size="125" tile>
                          <v-img :src="item.qrcode"></v-img>
                        </v-avatar>
                      </div>
                    </div>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-container>
        <Save
          v-if="can(security.usersCreate) || can(security.usersUpdate)"
          :dialog="save"
          :title="saveTitle"
          :item="item"
          @close="save = false"
          @added="add"
          @edited="restore"
        />
        <Delete
          v-if="can(security.usersDelete)"
          :dialog="remove"
          :item="item"
          @close="remove = false"
          @deleted="destroy"
        />
        <Roles
          v-if="can(security.usersRole)"
          :item="item"
          :dialog="role"
          @close="role = false"
          @save="restore"
        />
      </paginate>

      <v-pagination
        v-if="$refs.paginator && $refs.paginator.lastPage > 1"
        v-model="currentPage"
        :length="$refs.paginator.lastPage"
        :total-visible="$pagesVisible"
      ></v-pagination>
    </div>
  </div>
</template>

<script>
import Save from "./Save";
import Delete from "./Delete";
import Roles from "./Roles";
import { mapMutations } from "vuex";
export default {
  components: {
    Save,
    Delete,
    Roles,
  },
  data: () => ({
    list: [],
    load: true,
    saveTitle: "",
    item: {},
    search: "",
    save: false,
    remove: false,
    role: false,
    paginate: ["items"],
  }),
  computed: {
    filteredList() {
      return this.list.filter((item) => {
        let fullName1 = item.firstName + " " + item.lastName;
        let fullName2 = item.lastName + " " + item.firstName;
        return (
          item.login.toLowerCase().includes(this.search.toLowerCase()) ||
          fullName1.toLowerCase().includes(this.search.toLowerCase()) ||
          fullName2.toLowerCase().includes(this.search.toLowerCase()) ||
          item.dni.toLowerCase().includes(this.search.toLowerCase())
        );
      });
    },
    currentPage: {
      get: function () {
        return parseInt(this.$refs.paginator.currentPage) + 1;
      },
      set: function (value) {
        this.$refs.paginator.currentPage = value - 1;
      },
    },
  },
  watch: {
    filteredList(val) {
      if (this.$refs.paginator) {
        this.$refs.paginator.currentPage = 0;
      }
    },
  },
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Listar todos los usuarios
     */
    listAll() {
      axios.get("/user").then((response) => {
        this.list = response.data;
        this.load = false;
      });
    },
    /**
     *  Abrir dialog para crear un usuario
     */
    open() {
      this.item = {
        lastName: "",
        firstName: "",
        dni: "",
        birthday: "",
        login: "",
        gender: "Hombre",
        address: "",
        phone: "",
        photo: null,
        picture: "",
        login: "",
        email: "",
      };
      this.saveTitle = "Crear Nuevo Usuario";
      this.save = true;
    },
    /**
     * Abrir dialog para editar usuario
     */
    showItem(item) {
      this.item = item;
      this.item.photo = null;
      this.saveTitle = "Editar Usuario";
      this.save = true;
    },
    /**
     * Agregar item a la lista de usuarios
     *
     * @param {object} data - usuario agregado
     */
    add(data) {
      this.showAlert({
        color: "success",
        text: data.message,
      });
      this.list.unshift(data.user);
      this.role = true;
      this.item = data.user;
    },
    /**
     * Cargar usuario del servidor
     *
     * @param {object} data - usuario seleccionado
     */
    restore(data) {
      axios.get(`/user/${data.id}`, data).then((response) => {
        if (response.status === 200) {
          this.item.firstName = response.data.user.firstName;
          this.item.lastName = response.data.user.lastName;
          this.item.dni = response.data.user.dni;
          this.item.birthday = response.data.user.birthday;
          this.item.gender = response.data.user.gender;
          this.item.address = response.data.user.address;
          this.item.phone = response.data.user.phone;
          this.item.picture = response.data.user.picture;
          this.item.qrcode = response.data.user.qrcode;
          this.item.login = response.data.user.login;
          this.item.email = response.data.user.email;
          this.item.roles = response.data.user.roles;
        }
      });
    },
    /**
     * Abrir dialog para eliminar usuario
     *
     * @param {object} item - usuario a ser eliminado
     */
    deleteItem(item) {
      this.remove = true;
      this.item = item;
    },
    /**
     * Eliminar item de la lista de usuarios
     *
     * @param {object} data - usuario a ser eliminado
     */
    destroy(data) {
      this.list.splice(data, 1);
    },
    /**
     * Abrir dialog para guardar roles
     */
    saveRoles(item) {
      this.item = item;
      this.role = true;
    },
    /**
     * Abrir inputdialog para guardar imagen
     */
    editPicture(item) {
      this.$refs.picture.click();
      this.item = item;
    },
    /**
     * Actualizar imagen del usuario
     *
     * @param {event} evento que se presenta al selecciona la imagen en el input dialog
     */
    uploadPicture(event) {
      let formData = new FormData();
      formData.append("photo", event.target.files[0]);
      this.$refs.picture.value = null;
      axios.post(`/user/${this.item.id}/photo`, formData).then((response) => {
        if (response.status === 200) {
          this.showAlert({
            color: "success",
            text: response.data.message,
          });
          this.item.picture = response.data.user.picture;
        }
      });
    },
  },
  mounted() {
    this.listAll();
  },
};
</script>
<style>
.card-item {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
</style>