<template>
  <v-dialog persistent v-model="dialog" max-width="500px">
    <v-card>
      <v-toolbar color="indigo" dark>
        <v-toolbar-title v-text="title"></v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn @click="close" icon>
          <v-icon>mdi-window-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <br />
        <validation-observer ref="observer">
          <form @submit.prevent="save">
            <validation-provider
              v-slot="{ errors }"
              name="Apellidos"
              rules="required|max:50"
            >
              <v-text-field
                v-model="item.lastName"
                :error-messages="errors"
                :counter="50"
                label="Apellidos del Usuario"
                prepend-icon="mdi-account"
              ></v-text-field>
            </validation-provider>
            <validation-provider
              v-slot="{ errors }"
              name="Nombres"
              rules="required|max:50"
            >
              <v-text-field
                v-model="item.firstName"
                :error-messages="errors"
                :counter="50"
                label="Nombres de Usuario"
                prepend-icon="mdi-account"
              ></v-text-field>
            </validation-provider>
            <validation-provider
              v-slot="{ errors }"
              name="DNI"
              rules="required|numeric|max:8|min:8"
            >
              <v-text-field
                type="number"
                v-model="item.dni"
                :error-messages="errors"
                :counter="8"
                label="DNI del Usuario"
                prepend-icon="mdi-account"
                @blur="setLogin()"
              ></v-text-field>
            </validation-provider>
            <v-row align="center">
              <v-flex cols="12" xs6>
                <v-menu
                  ref="mBirthDay"
                  v-model="mBirthDay"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <validation-provider
                      v-slot="{ errors }"
                      name="Fecha de Nacimiento"
                      rules="required"
                    >
                      <v-text-field
                        v-model="birthDayFormatted"
                        :error-messages="errors"
                        label="Fecha de Nacimiento"
                        hint="Formato DD/MM/YYYY"
                        readonly
                        prepend-icon="mdi-calendar"
                        v-bind="attrs"
                        @blur="birthDay = parseDate(birthDayFormatted)"
                        v-on="on"
                      ></v-text-field>
                    </validation-provider>
                  </template>
                  <v-date-picker
                    ref="picker"
                    v-model="birthDay"
                    :max="new Date().toISOString().substr(0, 10)"
                    min="1900-01-01"
                    no-title
                    @input="mBirthDay = false"
                  ></v-date-picker>
                </v-menu>
              </v-flex>
              <v-flex cols="12" xs6>
                <validation-provider
                  v-slot="{ errors }"
                  name="Sexo"
                  rules="required|oneOf:Hombre,Mujer|max:15"
                >
                  <v-select
                    :error-messages="errors"
                    v-model="item.gender"
                    prepend-icon="mdi-account"
                    :items="['Hombre', 'Mujer']"
                    label="Sexo"
                    dense
                  ></v-select>
                </validation-provider>
              </v-flex>
            </v-row>
            <validation-provider
              v-slot="{ errors }"
              name="Telefono"
              rules="numeric|max:15"
            >
              <v-text-field
                v-model="item.phone"
                :error-messages="errors"
                :counter="15"
                label="Telefono del Usuario"
                prepend-icon="mdi-account"
              ></v-text-field>
            </validation-provider>
            <validation-provider
              v-slot="{ errors }"
              name="Dirección"
              rules="max:100"
            >
              <v-text-field
                v-model="item.address"
                :error-messages="errors"
                :counter="100"
                label="Direción de Usuario"
                prepend-icon="mdi-account"
              ></v-text-field>
            </validation-provider>
            <validation-provider
              v-slot="{ errors }"
              name="Usuario"
              rules="required|max:50"
            >
              <v-text-field
                v-model="item.login"
                :error-messages="errors"
                :counter="50"
                label="Login de Usuario"
                prepend-icon="mdi-account"
              ></v-text-field>
            </validation-provider>

            <validation-provider
              v-slot="{ errors }"
              name="Email"
              rules="required|email|max:255"
            >
              <v-text-field
                v-model="item.email"
                :error-messages="errors"
                label="Correo Electónico"
                prepend-icon="mdi-account"
                :counter="255"
              ></v-text-field>
            </validation-provider>
            <validation-provider v-slot="{ errors }" name="Foto" rules="image" v-if="!item.id">
              <v-file-input
                :error-messages="errors"
                v-model="item.photo"
                accept="image/png, image/jpeg, image/bmp"
                placeholder="Seleccionar imagen"
                prepend-icon="mdi-camera"
                label="Imagen"
                @change="getImg"
              ></v-file-input>
            </validation-provider>
            <div v-if="srcImg" class="text-center">
              <v-avatar
                class="profile"
                align="center"
                color="grey"
                size="164"
                tile
              >
                <v-img :src="srcImg"></v-img>
              </v-avatar>
            </div>
            <br />
            <div class="text-center">
              <v-btn
                depressed
                color="success"
                :loading="loading"
                :disabled="loading"
                type="submit"
                >Guardar
              </v-btn>
            </div>
          </form>
        </validation-observer>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  props: ["title", "item", "dialog"],
  data: () => ({
    loading: false,
    mBirthDay: false,
    birthDayFormatted: null,
    srcImg: "",
  }),
  watch: {
    birthDay(val) {
      this.birthDayFormatted = this.formatDate(this.birthDay);
    },
    mBirthDay(val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = "YEAR"));
    },
  },
  computed: {
    birthDay: {
      get: function () {
        return this.item.birthday;
      },
      set: function (value) {
        this.item.birthday = value;
      },
    },
  },
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Cerrar dialog
     * 
     * @emit close - para cerrar el dialog
     *       edited - para cargar la informacion del usuario seleccionado en la lista principal
    */
    close() {
      this.$emit("close");
      if (this.item.id) {
        this.$emit("edited", this.item);
      }
      this.$refs.observer.reset();
    },
    /**
     * Guardar Usuario
     * Permite guardar el usuario ya sea seleccionado o uno nuevo
     * 
     * @emit added - para agregar el usuario creado en la lista principal
    */
    save() {
      this.$refs.observer.validate().then((success) => {
        if (!success) {
          return;
        }
        this.loading = true;
        if (this.item.id) {
          axios
            .put(`/user/${this.item.id}`, this.item)
            .then((response) => {
              if (response.status === 200) {
                this.loading = false;
                this.close();
                this.showAlert({
                  color: "success",
                  text: response.data.message,
                });
                this.srcImg = "";
              }
            })
            .catch((error) => {
              this.loading = false;
              if (error.response.data.errors) {
                this.setErrors(error.response.data.errors);
              }
            });
        } else {
          let formData = new FormData();
          formData.append("id", this.item.id);
          formData.append("lastName", this.item.lastName);
          formData.append("firstName", this.item.firstName);
          formData.append("dni", this.item.dni);
          formData.append("birthday", this.item.birthday);
          formData.append("gender", this.item.gender);
          formData.append("address", this.item.address);
          formData.append("phone", this.item.phone);
          if(this.item.photo){
            formData.append("photo", this.item.photo);
          }
          formData.append("picture", this.item.picture);
          formData.append("login", this.item.login);
          formData.append("email", this.item.email);
          axios
            .post("/user", formData)
            .then((response) => {
              if (response.status === 200) {
                this.$emit("added", response.data);
                this.loading = false;
                this.close();
                this.srcImg = "";
              }
            })
            .catch((error) => {
              this.loading = false;
              if (error.response.data.errors) {
                this.setErrors(error.response.data.errors);
              }
            });
        }
      });
    },
    /**
     * Asignar errores al validator
     * 
     * @param {object} error - errores obtenidos desde el servidor
    */
    setErrors(error) {
      this.$refs.observer.setErrors({
        Apellidos: error.lastName,
        Nombres: error.firstName,
        DNI: error.dni,
        "Fecha de Nacimiento": error.birthday,
        Sexo: error.gender,
        Telefono: error.phone,
        Dirección: error.address,
        Usuario: error.login,
        Email: error.email,
        Foto: error.photo,
      });
    },
    /**
     * Crear nombre de usuario por defecto
    */
    setLogin() {
      this.item.login = this.item.dni;
    },
    /**
     * Mostrar imagen cargada
     * 
     * @param {event} evento que se genera al seleccionar la imagen
    */
    getImg(event) {
      if (event) {
        const file = event.name;
        let reader = new FileReader();
        reader.addEventListener("load", () => {
          this.srcImg = reader.result;
        });
        reader.readAsDataURL(event);
      } else {
        this.srcImg = "";
      }
    },
    /**
     * Dar formato a fecha
     * Formato de fecha dia/mes/año para ser mostrado en la caja de texto de fecha 
     * 
     * @param {date} date - fecha
    */
    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    /**
     * Dar formato a fecha
     * Formato de fecha mes-dia-año que va a ser guardado en la cariable fecha
     * 
     * @param {date} date - fecha
    */
    parseDate(date) {
      if (!date) return null;
      const [day, month, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
  },
};
</script>