<template>
  <!-- Lista de menu -->
  <v-list-item-group :dark="true">
    <div v-for="primary in menu" :key="primary.id">
      <div v-if="can(primary.can)">
        <v-list-item
          class="text-decoration-none"
          v-if="primary.sub.length == 0"
          :to="{ name: primary.route }"
        >
          <v-list-item-action>
            <v-icon class="white--text" v-text="primary.icon"></v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title
              class="menu-font white--text"
              v-text="primary.name"
            ></v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-group v-else>
          <template v-slot:activator>
            <v-list-item-action>
              <v-icon class="white--text" v-text="primary.icon"></v-icon>
            </v-list-item-action>
            <v-list-item-title class="menu-font white--text">{{
              primary.name
            }}</v-list-item-title>
          </template>

          <div
            class="indigo darken-2"
            v-for="secondary in primary.sub"
            :key="secondary.id"
          >
            <div v-if="can(secondary.can)">
              <v-list-item
                class="text-decoration-none secondary-left"
                v-if="secondary.submenu.length == 0"
                :to="{ name: secondary.route }"
              >
                <v-list-item-action class="secondary-icon">
                  <v-icon class="white--text" v-text="secondary.icon"></v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title
                    class="menu-font white--text"
                    v-text="secondary.name"
                  ></v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <v-list-group v-else no-action sub-group>
                <template v-slot:activator>
                  <v-list-item-action>
                    <v-icon
                      class="secondary-icon white--text"
                      v-text="secondary.icon"
                    ></v-icon>
                  </v-list-item-action>
                  <v-list-item-content>
                    <v-list-item-title class="menu-font white--text">{{
                      secondary.name
                    }}</v-list-item-title>
                  </v-list-item-content>
                </template>

                <v-list-item
                  class="text-decoration-none indigo lighten-1 white--text"
                  v-for="tertiary in secondary.submenu"
                  :key="tertiary.id"
                  :to="{ name: tertiary.route }"
                  link
                >
                  <div v-if="can(tertiary.can)">
                    <v-list-item-icon>
                      <v-icon
                        class="white--text"
                        v-text="tertiary.icon"
                      ></v-icon>
                    </v-list-item-icon>
                    <v-list-item-title
                      class="menu-font white--text"
                      v-text="tertiary.name"
                    ></v-list-item-title>
                  </div>
                </v-list-item>
              </v-list-group>
            </div>
          </div>
        </v-list-group>
      </div>
    </div>
  </v-list-item-group>
</template>

<script>
export default {
  name: "Menu",
  data: () => ({
    menu: [
      {
        id: 1,
        name: "Seguridad",
        route: "",
        icon: "mdi-security",
        can: "security.show",
        sub: [
          {
            id: 2,
            name: "Roles",
            route: "role",
            can: "roles.list",
            icon: "mdi-account-lock",
            submenu: [],
          },
          {
            id: 3,
            name: "Permisos",
            route: "permission",
            can: "permissions.list",
            icon: "mdi-shield-account",
            submenu: [],
          },
          {
            id: 4,
            name: "Usuarios",
            route: "user",
            can: "users.list",
            icon: "mdi-account",
            submenu: [],
          },
        ],
      },
      {
        id: 5,
        name: "Menu 2",
        route: "role",
        can: "role.show",
        icon: "mdi-security",
        sub: [
          {
            id: 6,
            name: "SubMenuTitle2",
            route: "role",
            can: "role.show",
            icon: "mdi-security",
            submenu: [
              {
                id: 7,
                name: "SubMenu1",
                route: "role",
                can: "role.show",
                icon: "mdi-security",
              },
              {
                id: 8,
                name: "SubMenu2",
                route: "role",
                can: "role.show",
                icon: "mdi-security",
              },
              {
                id: 9,
                name: "SubMenu3",
                route: "role",
                can: "role.show",
                icon: "mdi-security",
              },
            ],
          },
          {
            id: 10,
            name: "mdi-security",
            route: "role",
            can: "role.show",
            icon: "mdi-security",
            submenu: [],
          },
        ],
      },
      {
        id: 11,
        name: "Menu 3",
        route: "role",
        can: "role.show",
        icon: "mdi-security",
        sub: [],
      },
    ],
  })
};
</script>
<style scoped>
.text-decoration-none {
  text-decoration: none !important;
}
.secondary-left {
  padding-left: 13% !important;
}
.secondary-icon {
  margin-right: 10px !important;
}
.menu-font {
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 1rem;
}
</style>