<template>
  <nav>
    <!-- Navegación horizontal -->
    <v-app-bar color="black" flat app>
      <!-- Icono de navegación -->
      <v-app-bar-nav-icon
        class="grey--text"
        @click="drawer = !drawer"
      ></v-app-bar-nav-icon>

      <!-- Título de la aplicación -->
      <v-toolbar-title class="text-uppercase white--text">
        <span class="font-weight-black">Sistema </span>
        <span>Electoral</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <!-- Dropdown menu -->
      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-btn text color="gray" dark v-bind="attrs" v-on="on">
            <v-icon left>mdi-chevron-down</v-icon>
            <span>Menu</span>
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            class="text-decoration-none"
            v-for="link in links"
            :key="link.text"
            router
            :to="link.route"
            link
          >
            <v-list-item-title>{{ link.text }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>

      <!-- Cerrar sesion -->
      <v-btn text color="white">
        <span>Salir</span>
        <v-icon right> mdi-exit-to-app </v-icon>
      </v-btn>
    </v-app-bar>

    <!-- Navegación vertical -->
    <v-navigation-drawer app v-model="drawer" class="indigo">
      <!-- Avatar -->
      <v-layout column align-center>
        <v-flex class="mt-5">
          <v-avatar size="100">
            <img :src="user.picture" alt="avatar" />
          </v-avatar>
          <p class="white--text subheading mt-1" v-text="user.firstName+' '+user.lastName">{{}}</p>
        </v-flex>
        <v-flex>
          <!--<Popup />-->
        </v-flex>
      </v-layout>

      <!-- Lista de menu -->
      <Menu />
    </v-navigation-drawer>
  </nav>
</template>

<script>
import Menu from "./Menu";
import { mapGetters } from "vuex";
export default {
  components: {
    Menu,
  },
  name: "Navbar",
  data: () => ({
    drawer: false,
    links: [
      { icon: "mdi-view-dashboard", text: "Dashboard", route: "/dashboard" },
      { icon: "mdi-folder", text: "My Projects", route: "/project" },
      { icon: "mdi-account", text: "Team", route: "/team" },
    ],
  }),
  computed: {
    ...mapGetters(["user", "role"]),
  }
};
</script>
<style scoped>
.text-decoration-none {
  text-decoration: none !important;
}
</style>