<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" scrollable max-width="400px" persistent>
      <v-card>
        <v-card-title>Seleccionar Tipo de Acceso</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-radio-group v-model="item" column>
            <v-radio
              v-for="role in roles"
              :key="role.id"
              :label="role.name"
              :value="role.id"
            ></v-radio>
          </v-radio-group>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn color="blue darken-1" text @click="save"> Aceptar </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import { mapMutations } from "vuex";
export default {
  props: ["roles", "dialog"],
  data: () => ({
    item: null,//rol seleccionado
  }),
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Guardar rol
     * Permite asignar el rol de una lista de roles cuando al usuario logueado tiene mas de 1 rol
     * @param {object} item - rol seleccionado
     * @returns {void} assign - emit para ejecutar la asignacion del rol seleccionado en el servidor
     *                 close - emit para cerrar el dialog
     */
    save() {
      if (this.item) {
        axios.post("/assign", { id: this.item }).then((response) => {
          if (response.status === 200) {
            this.$emit("assign", response.data);
            this.$emit("close");
          }
        });
      } else {
        this.showAlert({
          color: "error",
          text: "Debe de seleccionar un rol",
        });
      }
    },
  },
};
</script>