<template>
  <v-app>
    <Navbar />
    <v-main class="white">
      <div class="main">
        <router-view></router-view>
        <SelectRole
          :roles="roles"
          :dialog="assignRole"
          @assign="currentUser"
          @close="assignRole = false"
        />
      </div>
      <Footer />
    </v-main>
    <Dialog />
  </v-app>
</template>

<script>
import Navbar from "./includes/Navbar";
import Footer from "./includes/Footer";
import Dialog from "../../components/Snackbar";
import SelectRole from "../../components/SelectRole";
import { mapMutations } from "vuex";
export default {
  components: {
    Navbar,
    Footer,
    Dialog,
    SelectRole,
  },
  data: () => ({
    roles: [],
    assignRole: false,
  }),
  methods: {
    ...mapMutations(["setUser", "setRole"]),
    /**
     * Rol seleccionado
     * Verificar si se a seleccionado el rol y existe en la sesion
     * si existe la asignacion el rol se guarda el usuario, rol y permiso logueado
     * si no existe la asignacion del rol se ejecuta el metodo para abrir el dialog para seleccionar rol
    */
    selectedRole() {
      axios.get("/selectedrole").then((response) => {
        if (response.data.message == "yes") {
          this.currentUser();
        } else {
          this.userRoles();
        }
      });
    },
    /**
     * Ver roles del usuario logueado
     * Muestra un dialog con los roles que tiene el usuario siempre que tiene mas de un rol
     * 
    */
    userRoles() {
      axios.get("/authroles").then((response) => {
        this.roles = response.data.roles;
        this.assignRole = true;
      });
    },
    /**
     * Usuario actual
     * obtiene el usuario y el rol asignado del usuario logueado y lo asigna al usuario y rol de vuex
     * 
    */
    currentUser() {
      axios.get("/current").then((response) => {
        this.setUser(response.data.user);
        this.setRole(response.data.role);
      });
    },
  },
  mounted() {
    this.selectedRole();
  },
};
</script>
<style scoped>
.white {
  background: white;
}
@media (min-width: 700px) {
  .main {
    padding: 50px;
  }
}

@media (max-width: 700px) {
  .main {
    padding: 20px;
  }
}

.main {
  margin-bottom: 200px;
}
</style>
