<template>
  <div class="main-content">
    <div v-if="load">
      <v-sheet ligth class="pa-3">
        <v-skeleton-loader class="mx-auto" type="card"></v-skeleton-loader>
      </v-sheet>
    </div>
    <div v-else>
      <h1 class="title-page display-2 black--text">Seguridad</h1>
      <h3 class="title-page black--text">Roles</h3>
      <hr />
      <v-row>
        <v-flex fluid outlined xs12 sm6 md8>
          <v-tooltip top v-if="can(security.rolesCreate)">
            <template v-slot:activator="{ on, attrs }">
              <br />
              <v-btn text v-bind="attrs" v-on="on" @click="open" color="gray">
                <v-icon left>mdi-plus-box</v-icon>
                <span>Nuevo</span>
              </v-btn>
            </template>
            <span>Agregar un Nuevo Rol</span>
          </v-tooltip>
        </v-flex>
        <v-flex fluid outlined xs12 sm6 md4>
          <v-text-field
            label="Buscar..."
            hide-details
            prepend-icon="mdi-magnify"
            color="black"
            v-model="search"
            @keyup.enter="listAll"
          >
          </v-text-field>
        </v-flex>
      </v-row>
      <paginate
        ref="paginator"
        name="items"
        :list="filteredList"
        :per="$perPage"
      >
        <v-container class="my-5">
          <v-card class="mx-auto">
            <v-container>
              <v-row dense>
                <v-col
                  v-for="item in paginated('items')"
                  :key="item.id"
                  cols="12"
                >
                  <v-card>
                    <div class="d-flex flex-no-wrap justify-space-between">
                      <div>
                        <div class="d-flex d-sm-none justify-center">
                          <v-avatar class="ma-3" size="100" tile>
                            <v-img src="/img/assets/role.png"></v-img>
                          </v-avatar>
                        </div>
                        <v-card-title
                          class="headline"
                          v-text="item.name"
                        ></v-card-title>
                        <v-card-subtitle
                          v-text="item.description"
                        ></v-card-subtitle>
                        <v-card-text>
                          <div class="font-weight-normal">
                            <strong>Slug:</strong> {{ item.slug }}
                          </div>
                          <div class="font-weight-normal">
                            <strong>Permisos Especiales:</strong>
                            {{ item.special }}
                          </div>
                        </v-card-text>
                        <v-card-actions>
                          <v-btn
                            v-if="
                              can(security.rolesPermission) &&
                              item.special == 'nothing'
                            "
                            color="success"
                            class="ml-2 mt-5"
                            rounded
                            small
                            @click="savePermissions(item)"
                          >
                            Permisos
                          </v-btn>
                          <v-tooltip top v-if="can(security.rolesUpdate)">
                            <template v-slot:activator="{ on, attrs }">
                              <v-btn
                                class="ml-2 mt-3"
                                v-bind="attrs"
                                v-on="on"
                                fab
                                icon
                                height="40px"
                                right
                                width="40px"
                                @click="showItem(item)"
                              >
                                <v-icon>mdi-pencil-box-multiple</v-icon>
                              </v-btn>
                            </template>
                            <span>Editar rol: {{ item.name }}</span>
                          </v-tooltip>
                          <v-tooltip top v-if="can(security.rolesDelete)">
                            <template v-slot:activator="{ on, attrs }">
                              <v-btn
                                class="ml-2 mt-3"
                                v-bind="attrs"
                                v-on="on"
                                fab
                                icon
                                height="40px"
                                right
                                width="40px"
                                @click="deleteItem(item)"
                              >
                                <v-icon>mdi-trash-can</v-icon>
                              </v-btn>
                            </template>
                            <span>Eliminar rol: {{ item.name }}</span>
                          </v-tooltip>
                        </v-card-actions>
                      </div>
                      <div class="align-self-center">
                        <v-avatar class="d-none d-sm-flex ma-3" size="125" tile>
                          <v-img src="/img/assets/role.png"></v-img>
                        </v-avatar>
                      </div>
                    </div>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-container>
        <Save
          v-if="can(security.rolesCreate) || can(security.rolesUpdate)"
          :dialog="save"
          :title="saveTitle"
          :item="item"
          @close="save = false"
          @added="add"
          @edited="restore"
        />
        <Delete
          v-if="can(security.rolesDelete)"
          :dialog="remove"
          :item="item"
          @close="remove = false"
          @deleted="destroy"
        />
        <Permissions
          v-if="can(security.rolesPermission)"
          :item="item"
          :dialog="permission"
          @close="permission = false"
          @save="restore"
        />
      </paginate>

      <v-pagination
        v-if="$refs.paginator && $refs.paginator.lastPage > 1"
        v-model="currentPage"
        :length="$refs.paginator.lastPage"
        :total-visible="$pagesVisible"
      ></v-pagination>
    </div>
  </div>
</template>

<script>
import Save from "./Save";
import Delete from "./Delete";
import Permissions from "./Permissions";
import { mapMutations } from "vuex";
export default {
  components: {
    Save,
    Delete,
    Permissions,
  },
  data: () => ({
    list: [],
    load: true,
    saveTitle: "",
    item: {},
    search: "",
    save: false,
    remove: false,
    permission: false,
    paginate: ["items"],
  }),
  computed: {
    filteredList() {
      return this.list.filter((item) => {
        return item.name.toLowerCase().includes(this.search.toLowerCase());
      });
    },
    currentPage: {
      get: function () {
        return parseInt(this.$refs.paginator.currentPage) + 1;
      },
      set: function (value) {
        this.$refs.paginator.currentPage = value - 1;
      },
    },
  },
  watch: {
    filteredList(val) {
      if (this.$refs.paginator) {
        this.$refs.paginator.currentPage = 0;
      }
    },
  },
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Listar todos los roles
     */
    listAll() {
      axios.get("/role").then((response) => {
        this.list = response.data;
        this.load = false;
      });
    },
    /**
     *  Abrir dialog para crear un rol
     */
    open() {
      this.item = {
        name: "",
        description: "",
        special: "nothing",
      };
      this.saveTitle = "Crear Nuevo Rol";
      this.save = true;
    },
    /**
     * Abrir dialog para editar rol
     */
    showItem(item) {
      this.item = item;
      this.saveTitle = "Editar Rol";
      this.save = true;
    },
    /**
     * Agregar item a la lista de roles
     *
     * @param {object} data - rol agregado
     */
    add(data) {
      this.showAlert({
        color: "success",
        text: data.message,
      });
      this.list.unshift(data.role);
      this.item = data.role;
      if (this.item.special == "nothing") {
        this.permission = true;
      }
    },
    /**
     * Cargar rol del servidor
     *
     * @param {object} data - rol seleccionado
     */
    restore(data) {
      axios.get(`/role/${data.id}`, data).then((response) => {
        if (response.status === 200) {
          this.item.name = response.data.role.name;
          this.item.description = response.data.role.description;
          this.item.slug = response.data.role.slug;
          this.item.special = response.data.role.special;
          this.item.permissions = response.data.role.permissions;
        }
      });
    },
    /**
     * Abrir dialog para eliminar rol
     *
     * @param {object} item - rol a ser eliminado
     */
    deleteItem(item) {
      this.remove = true;
      this.item = item;
    },
    /**
     * Eliminar item de la lista de roles
     *
     * @param {object} data - rol a ser eliminado
     */
    destroy(data) {
      this.list.splice(data, 1);
    },
    /**
     * Abrir dialog para guardar permisos
     */
    savePermissions(item) {
      this.item = item;
      this.permission = true;
    },
  },
  mounted() {
    this.listAll();
  },
};
</script>
<style>
.card-item {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
</style>