<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon dark @click="close">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title
            >Asignar Permisos: <strong>{{ item.name }}</strong>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn dark text @click="save"
              ><v-icon>mdi-content-save-outline</v-icon> Guardar
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-card-text>
          <v-container>
            <v-text-field v-model="search" label="buscar"></v-text-field>
            <v-row>
              <v-col>
                <h2 class="h4">Lista de Permisos</h2>
                <v-treeview
                  v-model="item.permissions"
                  :items="data"
                  :filter="undefined"
                  :search="search"
                  dense
                  selectable
                  return-object
                  open-all
                  item-text="name"
                >
                  <template v-slot:label="{ item }">
                    <v-tooltip top>
                      <template v-slot:activator="{ on, attrs }">
                        <div v-bind="attrs" v-on="on">
                          <v-icon color="primary" dark> mdi-account </v-icon
                          >{{ item.name }}
                        </div>
                      </template>
                      <span>{{ item.description }}</span>
                    </v-tooltip>
                  </template></v-treeview
                >
              </v-col>
              <v-divider vertical></v-divider>
              <v-col class="pl-6">
                <h2 class="h4">Permisos Asignados</h2>
                <div
                  v-if="!item.permissions"
                  key="title"
                  class="title font-weight-light grey--text pa-4 text-center"
                >
                  Seleccionar los Permisos
                </div>
                <template v-else>
                  <div
                    class="ma-1"
                    v-for="node in selectionSort"
                    :key="node.id"
                  >
                    <v-tooltip top>
                      <template v-slot:activator="{ on, attrs }">
                        <div class="xs12 md12" v-bind="attrs" v-on="on">
                          <v-chip
                            close
                            color="cyan"
                            label
                            text-color="white"
                            @click:close="remove"
                          >
                            {{ node.name }}: {{ node.slug }}
                          </v-chip>
                        </div>
                      </template>
                      <span>{{ node.description }}</span>
                    </v-tooltip>
                  </div>
                </template>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import { mapMutations } from "vuex";
export default {
  props: ["item", "dialog"],
  data: () => ({
    search: "",
    data: [],
  }),
  computed: {
    selectionSort() {
      return this.sortBy(
        "slug",
        this.item.permissions.filter((item) => {
          return item.name.toLowerCase().includes(this.search.toLowerCase());
        })
      );
    },
  },
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Ordenar arreglo
     *
     * @param {string} prop - propiedad del array para ordenar
     * @param {array} array - arreglo a ser ordenado 
    */
    sortBy(prop, array) {
      return array.sort((a, b) => (a[prop] < b[prop] ? -1 : 1));
    },
    /**
     * Listar todos los permisos
    */
    listPermissions() {
      axios.get("/permission").then((response) => {
        this.data = this.sortBy("slug", response.data);
      });
    },
    /**
     * Cerrar dialog
     * 
     * @emit close - para cerrar el dialog
     *       save - para cargar la informacion del rol seleccionado
    */
    close() {
      this.$emit("close");
      this.$emit("save", this.item);
      this.search = "";
    },
    /**
     * Guardar permisos al rol seleccionado
    */
    save() {
      axios
        .post(`/role/${this.item.id}/permission`, this.item)
        .then((response) => {
          this.showAlert({
            color: "success",
            text:
              "Rol " + response.data.role.name + ": " + response.data.message,
          });
          this.close();
        });
    },
    /**
     * Quitar permiso seleccionado
     * 
     * @param {object} item - permiso a ser quitado
    */
    remove(item) {
      this.item.permissions.splice(item, 1);
    },
  },
  mounted() {
    this.listPermissions();
  },
};
</script>