<template>
  <v-dialog persistent v-model="dialog" max-width="500px">
    <v-card>
      <v-toolbar color="indigo" dark>
        <v-toolbar-title v-text="title"></v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn @click="close" icon>
          <v-icon>mdi-window-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <br />
        <validation-observer ref="observer">
          <form @submit.prevent="save">
            <validation-provider
              v-slot="{ errors }"
              name="Nombre"
              rules="required|max:30"
            >
              <v-text-field
                v-model="item.name"
                :error-messages="errors"
                :counter="30"
                label="Nombre de Rol"
                prepend-icon="mdi-account-lock"
              ></v-text-field>
            </validation-provider>

            <validation-provider
              v-slot="{ errors }"
              name="Descripción"
              rules="required|max:255"
            >
              <v-textarea
                v-model="item.description"
                :error-messages="errors"
                label="Descripción"
                prepend-icon="mdi-account-lock"
                :counter="255"
              ></v-textarea>
            </validation-provider>
            <validation-provider
              v-slot="{ errors }"
              name="Permisos especiales"
              rules="oneOf:nothing,all-access,no-access"
            >
              <v-radio-group
                v-model="item.special"
                label="Permisos especiales"
                :error-messages="errors"
                prepend-icon="mdi-account-lock"
                row
              >
                <v-radio label="ninguno" value="nothing"></v-radio>
                <v-radio label="all-access" value="all-access"></v-radio>
                <v-radio label="no-access" value="no-access"></v-radio>
              </v-radio-group>
            </validation-provider>
            <div class="text-center">
              <v-btn
                depressed
                color="success"
                :loading="loading"
                :disabled="loading"
                type="submit"
                >Guardar
              </v-btn>
            </div>
          </form>
        </validation-observer>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  props: ["title", "item", "dialog"],
  data: () => ({
    loading: false,
  }),
  methods: {
    ...mapMutations(["showAlert"]),
    /**
     * Cerrar dialog
     *
     * @emit close - para cerrar el dialog
     *       edited - para cargar la informacion del rol seleccionado en la lista principal
     */
    close() {
      this.$emit("close");
      if (this.item.id) {
        this.$emit("edited", this.item);
      }
      this.$refs.observer.reset();
    },
    /**
     * Guardar Rol
     * Permite guardar el rol ya sea seleccionado o uno nuevo
     *
     * @emit added - para agregar el rol creado en la lista principal
     */
    save() {
      
      this.$refs.observer.validate().then((success) => {
        if (!success) {
          return;
        }
        this.loading = true;
        if (this.item.id) {
          axios
            .put(`/role/${this.item.id}`, this.item)
            .then((response) => {
              if (response.status === 200) {
                this.loading = false;
                this.close();
                this.showAlert({
                  color: "success",
                  text: response.data.message,
                });
              }
            })
            .catch((error) => {
              this.loading = false;
              if (error.response.data.errors) {
                this.setErrors(error.response.data.errors);
              }
            });
        } else {
          axios
            .post("/role", this.item)
            .then((response) => {
              if (response.status === 200) {
                this.$emit("added", response.data);
                this.loading = false;
                this.close();
              }
            })
            .catch((error) => {
              this.loading = false;
              if (error.response.data.errors) {
                this.setErrors(error.response.data.errors);
              }
            });
        }
      });
    },
    /**
     * Asignar errores al validator
     *
     * @param {object} error - errores obtenidos desde el servidor
     */
    setErrors(error) {
      this.$refs.observer.setErrors({
        Nombre: error.name,
        Descripción: error.description,
        "Pesmisos especiales": error.special,
      });
    },
  },
};
</script>